 .u-section-1 {
  min-height: 679px;
}

.u-section-1 .u-group-1 {
  min-height: 751px;
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.45);
}

.u-section-1 .u-container-layout-1 {
  padding: 70px 11px 30px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  text-transform: none;
  margin: 233px 101px 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  margin: 82px 262px 0 275px;
}

.u-section-1 .u-btn-1 {
  letter-spacing: 1px;
  border-style: solid;
  text-transform: uppercase;
  background-image: none;
  font-weight: 700;
  margin: 101px auto 0;
  padding: 10px 9px;
}

.u-section-1 .embed-responsive-1 {
  position: absolute;
  width: 178%;
  left: -39%;
  height: 178%;
  top: -39%;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.8125rem;
    width: auto;
    margin-top: 208px;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 108px;
    margin-right: 162px;
    margin-left: 175px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 66px;
    margin-right: 401px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-container-layout-1 {
    padding-top: 30px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 52px;
    margin-left: 65px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 82px;
    margin-right: auto;
    margin-left: 285px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.5rem;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 35px;
    margin-left: auto;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 751px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 170px;
    margin-left: 20px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.125rem;
    width: auto;
    margin-top: 81px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 209px;
    margin-right: 108px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 302px;
}

.u-section-2 .u-list-1 {
  width: 373px;
  margin: 30px auto 0 0;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: 100%;
  min-height: 250px;
  grid-gap: 10px 10px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 22px;
}

.u-section-2 .u-image-1 {
  width: 56px;
  height: 103px;
  margin: 8px auto 0;
}

.u-section-2 .u-text-1 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 20px 122px 0 104px;
}

.u-section-2 .u-text-2 {
  margin: 7px 8px 0;
}

.u-section-2 .u-image-2 {
  width: 108px;
  height: 98px;
  margin: -235px auto 0 478px;
}

.u-section-2 .u-image-3 {
  width: 100px;
  height: 109px;
  margin: -103px 200px 0 auto;
}

.u-section-2 .u-text-3 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 13px 554px 0 483px;
}

.u-section-2 .u-text-4 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: -28px 200px 0 837px;
}

.u-section-2 .u-text-5 {
  margin: 2px 453px 0 373px;
}

.u-section-2 .u-text-6 {
  margin: -56px 99px 60px 728px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-image-1 {
    margin-top: 10px;
    margin-left: 126px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 17px;
    margin-right: 168px;
    margin-left: 103px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 8px;
    margin-right: 63px;
    margin-left: -2px;
  }

  .u-section-2 .u-image-2 {
    margin-top: -231px;
    margin-left: 394px;
  }

  .u-section-2 .u-image-3 {
    height: 108px;
    margin-top: -108px;
    margin-right: 107px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 12px;
    margin-right: 443px;
    margin-left: 394px;
  }

  .u-section-2 .u-text-4 {
    margin-top: -26px;
    margin-right: 100px;
    margin-left: 737px;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-right: 342px;
    margin-left: 284px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 0;
    margin-left: 627px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 427px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 9px;
    margin-left: 58px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 9px;
    margin-right: 236px;
    margin-left: 35px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 0;
    margin-right: 131px;
    margin-left: -70px;
  }

  .u-section-2 .u-image-2 {
    margin-top: -183px;
    margin-left: 265px;
  }

  .u-section-2 .u-image-3 {
    margin-top: -23px;
    margin-right: 97px;
  }

  .u-section-2 .u-text-3 {
    margin-top: -78px;
    margin-right: 347px;
    margin-left: 270px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: 62px;
    margin-right: 94px;
    margin-left: 523px;
  }

  .u-section-2 .u-text-5 {
    margin-top: -81px;
    margin-right: 244px;
    margin-left: 162px;
  }

  .u-section-2 .u-text-6 {
    margin-top: 25px;
    margin-left: 407px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 491px;
  }

  .u-section-2 .u-list-1 {
    width: 358px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 221px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 8px;
    margin-left: 103px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 19px;
    margin-right: 184px;
    margin-left: 88px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 79px;
    margin-left: -17px;
  }

  .u-section-2 .u-image-2 {
    margin-top: -73px;
    margin-left: auto;
  }

  .u-section-2 .u-image-3 {
    margin-top: 4px;
    margin-right: 73px;
  }

  .u-section-2 .u-text-3 {
    margin-top: -103px;
    margin-right: 234px;
    margin-left: 203px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 92px;
    margin-right: 73px;
    margin-left: 365px;
  }

  .u-section-2 .u-text-5 {
    margin-top: -116px;
    margin-right: 133px;
    margin-left: 93px;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-top: 68px;
    margin-bottom: 14px;
    margin-left: 292px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 100vh;
  }

  .u-section-2 .u-list-1 {
    width: 340px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 13px;
    margin-left: auto;
  }

  .u-section-2 .u-text-1 {
    width: 101px;
    margin-top: 14px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-2 {
    margin-left: 23px;
    margin-right: 23px;
  }

  .u-section-2 .u-image-2 {
    margin-top: 2px;
  }

  .u-section-2 .u-image-3 {
    margin-top: 171px;
    margin-right: auto;
  }

  .u-section-2 .u-text-3 {
    width: 103px;
    margin-top: -276px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-4 {
    width: 103px;
    margin-top: 255px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-5 {
    margin-top: -279px;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-2 .u-text-6 {
    margin-top: 231px;
    margin-left: 14px;
    margin-right: 14px;
  }
} .u-section-3 {
  background-image: url("images/testimonials-bg4.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 532px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 84px;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 444px;
}

.u-section-3 .u-container-layout-1 {
  padding: 0;
}

.u-section-3 .u-image-1 {
  width: 225px;
  height: 391px;
  margin: -12px auto 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 444px;
}

.u-section-3 .u-container-layout-2 {
  padding: 0;
}

.u-section-3 .u-text-1 {
  font-size: 1.125rem;
  margin: 113px 412px 0 46px;
}

.u-section-3 .u-text-2 {
  font-size: 1.125rem;
  margin: 86px auto 0 53px;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  font-size: 3rem;
  margin: -477px 267px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 411px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 35px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 346px;
    background-position: 50% 50%;
  }

  .u-section-3 .u-image-1 {
    width: 169px;
    height: 296px;
    margin-top: 12px;
    margin-right: 16px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 346px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    font-size: 1rem;
    margin-top: 119px;
    margin-right: 278px;
    margin-left: 27px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    font-size: 0.9375rem;
    margin-top: 57px;
    margin-bottom: -12px;
    margin-left: 87px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    font-size: 2.8125rem;
    margin-top: -355px;
    margin-right: 70px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 489px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 33px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 281px;
  }

  .u-section-3 .u-image-1 {
    width: 177px;
    height: 330px;
    margin-top: -107px;
    margin-right: -65px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 281px;
  }

  .u-section-3 .u-text-1 {
    width: 414px;
    font-size: 0.875rem;
    margin-top: -30px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-2 {
    margin-top: 87px;
    margin-bottom: 0;
    margin-left: 68px;
  }

  .u-section-3 .u-text-3 {
    font-size: 1.875rem;
    margin-top: -424px;
    margin-right: 68px;
    margin-bottom: 238px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 731px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 60px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 420px;
  }

  .u-section-3 .u-image-1 {
    width: 197px;
    height: 343px;
    margin: 77px auto -10px -10px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 169px;
  }

  .u-section-3 .u-text-1 {
    margin-top: -258px;
    margin-right: 62px;
    margin-left: 168px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1rem;
    margin-top: 181px;
    margin-left: 94px;
  }

  .u-section-3 .u-text-3 {
    margin-top: -594px;
    margin-right: 18px;
    margin-bottom: 561px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 522px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 250px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 317px;
  }

  .u-section-3 .u-image-1 {
    width: 121px;
    height: 236px;
    margin-top: -118px;
    margin-bottom: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 291px;
  }

  .u-section-3 .u-text-1 {
    font-size: 0.75rem;
    width: 340px;
    margin-top: -381px;
    margin-right: 1px;
    margin-left: 111px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 122px;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-3 .u-text-3 {
    font-size: 1.375rem;
    margin: -795px 19px 60px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 772px;
}

.u-section-4 .u-text-1 {
  font-size: 3rem;
  margin: 41px 22px 0;
}

.u-section-4 .u-video-1 {
  height: 500px;
  margin-top: 46px;
  margin-bottom: 0;
}

.u-section-4 .embed-responsive-1 {
  position: absolute;
  width: 178%;
  left: -39%;
  height: 178%;
  top: -39%;
}

.u-section-4 .u-btn-1 {
  letter-spacing: 1px;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  font-size: 1.125rem;
  margin: 41px auto;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    font-size: 2.8125rem;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 819px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 42px;
  }

  .u-section-4 .u-btn-1 {
    margin-bottom: 42px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    margin-top: 128px;
    font-size: 2.25rem;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 743px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 42px;
  }

  .u-section-4 .u-video-1 {
    height: 422px;
  }

  .u-section-4 .embed-responsive-1 {
    width: 261%;
    left: -81%;
    height: 100%;
    top: 0%;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 767px;
}

.u-section-5 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 53px auto 0;
}

.u-section-5 .u-gallery-1 {
  height: 552px;
  margin-top: 61px;
  margin-bottom: 49px;
  grid-gap: 17px 17px;
}

.u-section-5 .u-gallery-inner-1 {
  grid-template-columns: auto auto;
  grid-gap: 17px 17px;
}

.u-section-5 .u-gallery-item-1 {
  --effect-scale: 1.25;
}

.u-section-5 .u-video-1 {
  transition-duration: 0.25s;
}

.u-section-5 .embed-responsive-1 {
  position: absolute;
  width: 178%;
  left: -39%;
  height: 178%;
  top: -39%;
}

.u-section-5 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-gallery-item-2 {
  margin-top: 0;
  margin-bottom: 0;
  --effect-scale: 1.25;
}

.u-section-5 .u-video-2 {
  transition-duration: 0.25s;
}

.u-section-5 .embed-responsive-2 {
  position: absolute;
  width: 178%;
  left: -39%;
  height: 178%;
  top: -39%;
}

.u-section-5 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-gallery-item-3 {
  margin-top: 0;
  margin-bottom: 0;
  --effect-scale: 1.25;
}

.u-section-5 .u-video-3 {
  transition-duration: 0.25s;
}

.u-section-5 .embed-responsive-3 {
  position: absolute;
  width: 178%;
  left: -39%;
  height: 178%;
  top: -39%;
}

.u-section-5 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-gallery-item-4 {
  --effect-scale: 1.25;
}

.u-section-5 .u-video-4 {
  transition-duration: 0.25s;
}

.u-section-5 .embed-responsive-4 {
  position: absolute;
  width: 178%;
  left: -39%;
  height: 178%;
  top: -39%;
}

.u-section-5 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 738px;
  }

  .u-section-5 .u-text-1 {
    font-size: 2.8125rem;
    width: auto;
    margin-top: 46px;
    margin-left: 61px;
    margin-right: 61px;
  }

  .u-section-5 .u-gallery-1 {
    margin-top: 43px;
    height: 457px;
  }

  .u-section-5 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1340px;
  }

  .u-section-5 .u-text-1 {
    font-size: 2.5rem;
    margin-left: 89px;
    margin-right: 89px;
  }

  .u-section-5 .u-gallery-1 {
    height: 1424px;
  }

  .u-section-5 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 59px;
  }

  .u-section-5 .u-gallery-1 {
    height: 1081px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 980px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 41px;
    margin-left: 24px;
    margin-right: 24px;
  }

  .u-section-5 .u-gallery-1 {
    margin-top: 57px;
    margin-bottom: 60px;
    height: 700px;
  }
} .u-section-6 {
  background-image: none;
  font-size: 1rem;
}

.u-section-6 .u-sheet-1 {
  min-height: 1200px;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 0;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 431px;
}

.u-section-6 .u-container-layout-1 {
  padding: 0;
}

.u-section-6 .u-image-1 {
  width: 157px;
  height: 157px;
  margin: -60px 0 0 auto;
}

.u-section-6 .u-text-1 {
  font-size: 3.75rem;
  font-weight: normal;
  margin: -102px auto 0;
}

.u-section-6 .u-text-2 {
  font-size: 1.5rem;
  margin: 42px 60px 0;
}

.u-section-6 .u-text-3 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 96px 60px 0;
}

.u-section-6 .u-btn-1 {
  letter-spacing: 1px;
  border-style: solid;
  background-image: none;
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: none;
  margin: 12px auto 0 375px;
  padding: 10px 19px 10px 18px;
}

.u-section-6 .u-icon-1 {
  font-size: 1.5em;
}

.u-section-6 .u-btn-2 {
  letter-spacing: 1px;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  font-size: 0.875rem;
  margin: -55px 369px 0 auto;
}

.u-section-6 .u-icon-2 {
  font-size: 1.3889em;
}

.u-section-6 .u-text-4 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: -42px 543px 0 500px;
}

.u-section-6 .u-image-2 {
  width: 157px;
  height: 157px;
  margin: -481px auto 0 0;
}

.u-section-6 .u-group-1 {
  min-height: 687px;
  height: auto;
  background-image: none;
  width: 1030px;
  margin: 344px auto 12px;
}

.u-section-6 .u-container-layout-2 {
  padding: 35px 0 0;
}

.u-section-6 .u-form-1 {
  height: 320px;
  margin: 1px 289px 0 327px;
}

.u-section-6 .u-form-group-1 {
  margin-left: 0;
}

.u-section-6 .u-label-1 {
  letter-spacing: 1px;
}

.u-section-6 .u-label-2 {
  letter-spacing: 1px;
}

.u-section-6 .u-form-group-3 {
  margin-left: 0;
}

.u-section-6 .u-label-3 {
  letter-spacing: 1px;
}

.u-section-6 .u-form-group-4 {
  margin-left: 0;
}

.u-section-6 .u-label-4 {
  letter-spacing: 1px;
}

.u-section-6 .u-btn-3 {
  background-image: none;
  margin-right: auto;
  margin-left: auto;
  display: block;
  width: 56%;
  font-size: 1.125rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-style: solid;
  font-weight: 700;
  padding: 10px 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1148px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: 47px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 437px;
  }

  .u-section-6 .u-image-1 {
    margin-top: -20px;
  }

  .u-section-6 .u-text-1 {
    font-size: 2.8125rem;
    width: auto;
    margin-top: -103px;
    margin-left: 191px;
  }

  .u-section-6 .u-text-2 {
    font-size: 1.125rem;
    width: 497px;
    margin-top: 34px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-text-3 {
    font-size: 1rem;
    width: 470px;
    margin-top: 107px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-btn-1 {
    margin-top: 19px;
    margin-left: 281px;
    padding-top: 9px;
    padding-bottom: 9px;
  }

  .u-section-6 .u-btn-2 {
    margin-top: -54px;
    margin-right: auto;
    margin-left: 497px;
  }

  .u-section-6 .u-text-4 {
    width: auto;
    margin-top: -43px;
    margin-right: 445px;
    margin-left: 419px;
  }

  .u-section-6 .u-image-2 {
    margin-top: -474px;
  }

  .u-section-6 .u-group-1 {
    width: 940px;
    margin-top: 292px;
    height: auto;
  }

  .u-section-6 .u-form-1 {
    margin-right: 244px;
    margin-left: 282px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1213px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 502px;
  }

  .u-section-6 .u-text-1 {
    margin-top: -49px;
    margin-left: auto;
  }

  .u-section-6 .u-text-2 {
    margin-top: 70px;
    margin-right: -3px;
    margin-left: 3px;
  }

  .u-section-6 .u-text-3 {
    margin-top: 65px;
    margin-left: 47px;
    margin-right: 47px;
  }

  .u-section-6 .u-btn-1 {
    margin-left: 185px;
  }

  .u-section-6 .u-btn-2 {
    margin-right: 151px;
    margin-left: auto;
  }

  .u-section-6 .u-text-4 {
    margin-top: -41px;
    margin-right: 334px;
    margin-left: 310px;
  }

  .u-section-6 .u-image-2 {
    width: 94px;
    height: 94px;
    margin-top: -539px;
  }

  .u-section-6 .u-group-1 {
    width: 720px;
    margin-top: 420px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-top: 30px;
  }

  .u-section-6 .u-form-1 {
    margin-right: 134px;
    margin-left: 172px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1191px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 448px;
  }

  .u-section-6 .u-text-1 {
    font-size: 2.25rem;
    margin-top: -28px;
    margin-left: 62px;
  }

  .u-section-6 .u-text-2 {
    font-size: 1rem;
    margin-top: 41px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-text-3 {
    margin-top: 69px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-btn-1 {
    margin-top: 46px;
    margin-left: 75px;
  }

  .u-section-6 .u-btn-2 {
    margin-right: 69px;
  }

  .u-section-6 .u-text-4 {
    margin-right: 243px;
    margin-left: 200px;
  }

  .u-section-6 .u-image-2 {
    width: 129px;
    height: 129px;
    margin-top: -498px;
    margin-left: -36px;
  }

  .u-section-6 .u-group-1 {
    width: 540px;
    margin-top: 389px;
    margin-bottom: 0;
  }

  .u-section-6 .u-form-1 {
    margin-right: 44px;
    margin-left: 82px;
  }
}

@media (max-width: 575px) {
   .u-section-6 {
    font-size: 0.875rem;
  }

  .u-section-6 .u-sheet-1 {
    min-height: 1351px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 582px;
  }

  .u-section-6 .u-image-1 {
    width: 97px;
    height: 97px;
    margin-top: -47px;
    margin-right: -10px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.875rem;
    font-weight: 700;
    margin-top: -20px;
    margin-left: 19px;
  }

  .u-section-6 .u-text-2 {
    width: 340px;
    margin-top: 40px;
  }

  .u-section-6 .u-text-3 {
    width: 340px;
    margin-top: 120px;
  }

  .u-section-6 .u-btn-1 {
    margin-top: 19px;
    margin-left: auto;
  }

  .u-section-6 .u-btn-2 {
    margin-top: 40px;
    margin-right: auto;
  }

  .u-section-6 .u-text-4 {
    width: 97px;
    margin-top: -89px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-image-2 {
    width: 88px;
    height: 88px;
    margin-top: -619px;
  }

  .u-section-6 .u-group-1 {
    width: 340px;
    margin-top: 551px;
  }

  .u-section-6 .u-form-1 {
    margin-right: 0;
    margin-left: 0;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 134px;
}

.u-section-7 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 4px auto 0 321px;
  padding: 13px;
}

.u-section-7 .u-icon-2 {
  width: 64px;
  height: 64px;
  margin: -63px 321px 0 auto;
  padding: 13px;
}

.u-section-7 .u-text-1 {
  margin: 20px auto 0 233px;
}

.u-section-7 .u-text-2 {
  margin: -28px 280px 17px auto;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 147px;
  }

  .u-section-7 .u-icon-1 {
    margin-top: 18px;
    margin-left: 264px;
  }

  .u-section-7 .u-icon-2 {
    margin-top: -64px;
    margin-right: 264px;
  }

  .u-section-7 .u-text-1 {
    width: auto;
    margin-top: 9px;
    margin-left: 175px;
  }

  .u-section-7 .u-text-2 {
    width: auto;
    margin-right: 222px;
    margin-bottom: 29px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 168px;
  }

  .u-section-7 .u-icon-1 {
    margin-top: 1px;
    margin-left: 202px;
  }

  .u-section-7 .u-icon-2 {
    margin-right: auto;
    margin-left: 454px;
  }

  .u-section-7 .u-text-1 {
    margin-top: 10px;
    margin-left: 118px;
  }

  .u-section-7 .u-text-2 {
    margin-right: 160px;
    margin-bottom: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 235px;
  }

  .u-section-7 .u-icon-1 {
    margin-top: 14px;
    margin-left: 126px;
  }

  .u-section-7 .u-icon-2 {
    margin-right: 121px;
    margin-left: auto;
  }

  .u-section-7 .u-text-1 {
    margin-top: 14px;
    margin-left: 55px;
  }

  .u-section-7 .u-text-2 {
    margin-top: -26px;
    margin-right: 88px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 457px;
  }

  .u-section-7 .u-icon-1 {
    margin-top: 47px;
    margin-left: auto;
  }

  .u-section-7 .u-icon-2 {
    margin-top: 105px;
    margin-right: auto;
  }

  .u-section-7 .u-text-1 {
    margin-top: -155px;
    margin-left: auto;
  }

  .u-section-7 .u-text-2 {
    margin-top: 138px;
    margin-right: auto;
  }
} .u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 88px;
}

.u-section-8 .u-text-1 {
  width: 304px;
  margin: 33px auto;
}

.u-section-8 .u-btn-1 {
  background-image: none;
  color: rgba(0, 0, 0, 0);
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-text-1 {
    width: 417px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-text-1 {
    width: auto;
    margin: 32px 0 31px;
  }
}0